*.pem
*.ts
*/private*
*.log
*/private*
.diode.yml
/.vscode
/dist
darwin/build
/client_debug
/gauge
/config_server
/diode_client
/diode_static
/diode_debug
/diode_race_test
/diode
/test
*db.tmp
*.db
*.zip
*.tar.gz
/bug_wallet
/new_wallet*
/gateway
prof
*.svg
client.sh
server.sh
wpad.dat
rpc/testdata/