# Can be put into /etc/systemd/system/
[Unit]
Description=Raspivid video stream

[Service]
Type=simple
ExecStart=raspivid -t 0 -w 320 -h 180 -fps 12 -ae 16,0x77 -a 12 -rot 90 -ifx saturation -ex auto  -n -l -o tcp://127.0.0.1:3030 -pf baseline
Restart=always
User=pi

[Install]
WantedBy=multi-user.target


