name: "CI"
on: ["push", "pull_request"]

jobs:
  build_and_test:
    name: "Run tests and build artifacts"
    strategy:
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macOS-latest"]
        go: ["1.14.x"]
    runs-on: ${{ matrix.os }}
    steps:
    - if: runner.os == 'Windows'
      run: |
        echo "::add-path::C:\\msys64\\usr\\bin"
        echo "::add-path::C:\\msys64\\mingw64\\bin"
        echo "::set-env name=PKG_CONFIG_PATH::/mingw64/lib/pkgconfig"
    - if: runner.os == 'Windows'
      run: |
        pacman -S --noconfirm pacman-mirrors pkg-config
        pacman -S --noconfirm --needed base-devel mingw-w64-i686-toolchain mingw-w64-x86_64-toolchain mingw-w64-x86_64-openssl upx
    - if: runner.os == 'macOS'
      run: |
        brew install binutils
        brew tap diodechain/homebrew-upx
        brew install diodechain/upx/upx
        rm /usr/local/opt/openssl/lib/*.dylib
        echo "::add-path::/usr/local/opt/binutils/bin"
    - uses: actions/checkout@v1
    - uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
    - run: make ci_test
    - run: make dist
    - run: echo "::set-env name=ZIPNAME::`./deployment/zipname.sh`"
      shell: bash
    - if: runner.os == 'macOS'
      run: |
        mkdir darwin_package_build
        DIODE_BUILD_DST=darwin_package_build DIODE_BINARY_DIRECTORY=dist sh darwin_package.sh
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.ZIPNAME }}
        path: dist
    - name: Archive macos package production artifacts
      uses: actions/upload-artifact@v1
      if: runner.os == 'macOS'
      with:
        name: ${{ runner.os }}
        path: darwin_package_build

  download_and_run_test:
    needs: build_and_test
    name: "Run app"
    strategy:
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macOS-latest"]
        go: ["1.14.x"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - run: echo "::set-env name=ZIPNAME::`./deployment/zipname.sh`"
      shell: bash
    - uses: actions/download-artifact@v2
      with:
        name: ${{ env.ZIPNAME }}
    - if: runner.os == 'macOS'
      run: brew remove openssl
    - run: |
        chmod +x ./diode 
        ./diode config -list
        ./diode time
      shell: bash

  build_linux_arm:
    name: "Run build linux arm artifact"
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v1
    - run: |
        echo "Clone diodechain/cross-compile"
        git clone https://github.com/diodechain/cross-compile.git
    - run: |
        echo "Build docker image......"
        docker build --build-arg branch=master -t pi-zero cross-compile/pi-zero
    - run: |
        echo "Build diode linux arm......"
        docker run -v ${{ github.workspace }}:/build/diode_go_client pi-zero make archive
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: "diode_linux_arm.zip"
        path: ${{ github.workspace }}/diode_linux_amd64.zip

  lint:
    name: "Run static analysis"
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: "1.14.x"
    - uses: actions/checkout@v2
    - run: make lint
