name: "CI"
on: ["push", "pull_request"]

jobs:
  build_and_test:
    name: "Run tests and build artifacts"
    strategy:
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macOS-latest"]
        go: ["1.15.x"]
    runs-on: ${{ matrix.os }}
    steps:
    # Install general deps
    - if: runner.os == 'macOS'
      name: "Install deps on macOS"
      run: |
          brew install binutils coreutils wget

    # Installing GO
    - if: runner.os == 'Windows'
      name: "Install Golang on Windows"
      uses: msys2/setup-msys2@v2
      with:
          install: pacman-mirrors pkg-config base-devel mingw-w64-x86_64-toolchain mingw-w64-x86_64-go upx mingw-w64-x86_64-dlfcn
          update: false
    - uses: actions/setup-go@v1
      name: "Install Golang on Linux/macOS"
      if: runner.os != 'Windows'
      with:
        go-version: ${{ matrix.go }}

    # Building the app
    - uses: actions/checkout@v1
    - if: runner.os == 'Windows'
      shell: msys2 {0}
      run: |
        make openssl
        make windows_test
        make dist
    - if: runner.os != 'Windows'
      run: |
        SUDO=sudo make openssl
        make ci_test
        make dist

    # Ziipping the build
    - run: echo "ZIPNAME=`./deployment/zipname.sh`" >> $GITHUB_ENV
      shell: bash
    - if: runner.os == 'macOS'
      run: |
        mkdir darwin_package_build
        DIODE_BUILD_DST=darwin_package_build DIODE_BINARY_DIRECTORY=dist sh darwin_package.sh
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.ZIPNAME }}
        path: dist
    - name: Archive macos package production artifacts
      uses: actions/upload-artifact@v1
      if: runner.os == 'macOS'
      with:
        name: ${{ runner.os }}
        path: darwin_package_build

  download_and_run_test:
    needs: build_and_test
    name: "Run app"
    strategy:
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macOS-latest"]
        go: ["1.14.x"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - run: echo "ZIPNAME=`./deployment/zipname.sh`" >> $GITHUB_ENV
      shell: bash
    - uses: actions/download-artifact@v2
      with:
        name: ${{ env.ZIPNAME }}
    - if: runner.os == 'macOS'
      run: brew uninstall --ignore-dependencies openssl
    - run: |
        chmod +x ./diode 
        ./diode config -list
        ./diode time
      shell: bash

  build_linux_arm:
    name: "Run build linux arm artifact"
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v1
    - run: |
        echo "Clone diodechain/cross-compile"
        git clone https://github.com/diodechain/cross-compile.git
    - run: |
        echo "Build docker image for arm32......"
        docker build --build-arg branch=$GITHUB_SHA -t pi-zero cross-compile/pi-zero
    - run: |
        echo "Build diode linux arm32......"
        docker run -v ${{ github.workspace }}:/build/diode_client pi-zero make archive
        mv diode_linux_amd64.zip diode_linux_arm.zip
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: "diode_linux_arm.zip"
        path: ${{ github.workspace }}/diode_linux_arm.zip
    - run: |
        echo "Build docker image for arm64......"
        docker build --build-arg branch=$GITHUB_SHA -t pi-arm64 cross-compile/pi-arm64
    - run: |
        echo "Build diode linux arm64......"
        docker run -v ${{ github.workspace }}:/build/diode_client pi-arm64 make archive
        mv diode_linux_amd64.zip diode_linux_arm64.zip
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: "diode_linux_arm64.zip"
        path: ${{ github.workspace }}/diode_linux_arm64.zip

  lint:
    name: "Run static analysis"
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: "1.14.x"
    - uses: actions/checkout@v2
    - run: make 

  seccheck:
    name: "Run security analysis"
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: "1.14.x"
    - uses: actions/checkout@v2
    - run: make seccheck
